@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


:root{
    --line-border-fill : #b3a969;
    --line-border-empty : #e0e0e0;

}



*{
    box-sizing: border-box;
}

body{
    background-color: #f6f7fb;
    font-family: 'Muli', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background: rgb(60,59,63);
    background: -moz-linear-gradient(180deg, rgba(60,59,63,1) 0%, rgba(96,92,60,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(60,59,63,1) 0%, rgba(96,92,60,1) 100%);
    background: linear-gradient(180deg, rgba(60,59,63,1) 0%, rgba(96,92,60,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3c3b3f",endColorstr="#605c3c",GradientType=1);
}

.container{
    text-align:center;
    transform: scale(1.3);
}

.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width:350px;
}

.progress-container::before{
    content:'';
    background-color: var(--line-border-empty);
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
    height:4px;
    width:100%;
    z-index:-1;
}

.progress{
    background-color: var(--line-border-fill);
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
    height:4px;
    width:0%;
    z-index:-1;
    transition: 0.4s ease;
}


.circle{
    background-color: #fff;
    color:#999;
    border-radius: 50%;
    height: 30px;
    width:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:3px solid var(--line-border-empty);
    transition: .4s ease;
}

.circle.active{
    border-color: var(--line-border-fill)
}


.btn{
    background-color: var(--line-border-fill);
    color:#fff;
    border:0;
    border-radius:6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin:5px;
    font-size: 14px;
}

.btn.active{
    transform: scale(0.98);
}

.btn.focus{
    outline: 0;
}

.btn:disabled{
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}

.quote{
    display: flex;
    width:80vw;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
    position: relative;
    color:#fff; 
    top:-20%;
}

quote{
    font-family: 'Satisfy', cursive;
    text-align: center;
    display: block;
    color:#fff;
    font-size: 6vh ;
    padding-bottom: 20px;
}

by{
    font-family: 'Roboto', sans-serif;
    display: block;
    margin-left:20px;
    font-size: 20px;
}

.fadeOut{
    opacity: 0;
    transition: 0.3s ease-out;
}

.fadeIn{
    opacity: 1;
    transition: 0.3s ease-in;
}
